ALEM_LLM_API_KEY=your-api-key-here

ALEM_POSTGRES_HOST=host-name
ALEM_POSTGRES_PORT=1234
ALEM_POSTGRES_USER=username
ALEM_POSTGRES_PASSWORD=supersecret123
ALEM_POSTGRES_DB=yourdbname

ALEM_POSTGRES_DEBUG=False

SUPABASE_URL=https://your-supabase-instance.alem.ai
SUPABASE_ANON_KEY=your-anon-key-here

TELEGRAM_UPDATE_MODE=off
